body{
	visibility: hidden;
}

#chef .flex.inner_box, #events .flex.inner_box, #bento .flex.inner_box {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.validated_css{
	text-align: right;
}

